[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YexinHuang
[access "refs/for/refs/*"]
	read = group user/YexinHuang
	push = group user/YexinHuang
	label-Code-Review = -2..+2 group user/YexinHuang
	label-Verified = -1..+1 group user/YexinHuang
	rebase = group user/YexinHuang
	removeReviewer = group user/YexinHuang
	submit = group user/YexinHuang
[access "refs/heads/*"]
	read = group user/YexinHuang
	create = group user/YexinHuang
	push = +force group user/YexinHuang
	pushMerge = group user/YexinHuang
[access "refs/tags/*"]
	push = +force group user/YexinHuang
	pushTag = group user/YexinHuang
	pushSignedTag = group user/YexinHuang
